body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #eef2f3;
}

.container {
  text-align: center;
  margin-top: 40px;
}

.title {
  font-size: 45px;
  font-weight: 700;
  color: #1b3c59;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  padding: 12px 18px;
  width: 280px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #b0bec5;
  outline: none;
  margin-right: 10px;
}

input:focus {
  border-color: #00bcd4;
}

button {
  padding: 12px 18px;
  background: #00bcd4;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #008c9e;
}

.card {
  width: 350px;
  background: white;
  margin: 40px auto;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
  animation: fadeIn 0.5s ease;
}

.city-name {
  font-size: 28px;
  font-weight: bold;
}

.aqi {
  font-size: 40px;
  font-weight: bold;
}

.good { color: #4CAF50; }
.moderate { color: #FFC107; }
.bad { color: #FF5722; }
.very-bad { color: #D32F2F; }
.hazardous { color: #6A1B9A; }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
